/src/*.js
/src/*.js.map
/src/classes/*.js
/src/classes/*.js.map
/src/classes/**/*.js
/src/classes/**/*.js.map
/.*
/src/.*
/src/nw
/build/run.config

# Visual Studio
/src/bin
/src/obj
/*.suo
/src/*.csproj.user
/src/*.suo
/src/web.Debug.config
/src/web.Release.config
