html, body {
    margin: 0;
    height: 100%;
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}

tr, td {
    padding: 0;
}

#mainTable {
    height: 100%;
    width: 100%;
    border-spacing: 0;  
}

#workspace {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #C5CFDF, #DCE5F2);
}

#topBar {
    height: 100px;
    background-color: #f0f0f0;
}

#bottomBar {
    height: 25px;
    background-color: #f0f0f0;
}

#paper {
    margin: 5px;
    background: white;
    box-shadow: 6px 6px 3px 0px rgba(50, 50, 50, 0.2);
}