html, body {
    margin: 0;
    height: 100%;
}

#workspace {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #C5CFDF, #DCE5F2);
}

#topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #c0c0c0;
}

#bottomBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #c0c0c0;
}

#paper {
    margin-top: 100px;
    background: white;
}