html, body {
    margin: 0;
    height: 100%;
}

tr, td {
    padding: 0;
}

#mainTable {
    height: 100%;
    width: 100%;
    border-spacing: 0;  
}

#workspace {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #C5CFDF, #DCE5F2);
}

#topBar {
    height: 100px;
    background-color: #c0c0c0;
}

#bottomBar {
    height: 30px;
    background-color: #c0c0c0;
}

#paper {
    border: 1px solid black;
    background: white;
}